<%
  generic_file ||= @generic_file
  include_file ||= true
  crumbs = request.referer.nil? ? [] : breadcrumb_links
  crumbs << generic_file.title.first if include_file
%>

<% unless crumbs.empty? %>
  <div class="breadcrumbs">
    <% crumbs.each do |crumb| %>
      <% if crumb == crumbs.last %>
        <span class="active"> <%= crumb %>
      <% else %>
        <span> <%= crumb %> <span class="divider">/</span>
      <% end %>
      </span>
    <% end %>
  </div><!-- /breadcrumbs -->
<% end %>
