@media screen and (min-width: 400px) {
  .affix {
    position: static;
    margin-top: 1em;
  }
}
@media screen and (min-width: 768px) {
  aside.form-progress {
    margin-right: 0.5em;
  }
  .affix {
    position: fixed;
  }
  .tab-content {
    min-height: 55em;
  }
}
@media screen and (min-width: 960px) {
  aside.form-progress {
    margin-right: 1.5em;
  }
}
aside.form-progress {
  ul.requirements {
    list-style-type: none;
    padding-left: 8px;
  }

  .incomplete::before {
    content: "\e101";
    color: $brand-danger;
    font-family: 'Glyphicons Halflings';
    padding-right: 5px;
  }

  .complete::before {
    content: "\e013";
    color: $brand-success;
    font-family: 'Glyphicons Halflings';
    padding-right: 5px;
  }

  .visibility {
    padding-left: 20px;
  }

  h3 {
    margin: 0;
    padding: 5px;
    font-size: 12pt;
  }

  label { font-weight: normal; }
  & > .form-group { padding: 0 1.75em; }

  .form-inline {
    .control-label, label {
      padding-left: 0;
      display: inline;
      &:after {
        content: ' ';
      }
    }
    .help-block {
      display: inline;
      &:before {
        content: ' ';
      }
    }
  }
}
