<p>
  <label><%= t("sufia.upload.collection.select_label") %></label>
  <%= select_tag 'collection', options_from_collection_for_select(@user_collections, "id", "title", @collection_id) %>
</p>
<p>&nbsp;</p>